<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <link rel="icon" href="{% static 'images/logos/Wellness Logo.png' %}" type="image/x-icon">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    {% if page == 'signin' %}
        <title>Sign in</title>
    {% else %}
        <title>Sign up</title>
    {% endif %}
    <link href="{% static 'styles/signup.css' %}" rel="stylesheet"/>
</head>
<body>

<main>

    <div class="box">
        <div class="inner-box">
            <div class="forms-wrap">

                <form method="POST" action="{% url 'signin' %}" autocomplete="off" class="sign-in-form"
                      id="sign-in-form" name="sign-in-form">
                    {% csrf_token %}
                    <a href="{% url 'index' %}" style="text-decoration: none">
                        <div class="logo">
                            <img alt="Wellness Tracker" src="{% static '/images/logos/Wellness Logo.png' %}"/>
                            <h4>Wellness Tracker</h4>
                        </div>
                    </a>

                    <div class="heading">
                        <h2>Welcome Back</h2>
                        <h4>Not registered yet?</h4>
                        <a class="toggle" href="{% url 'signup' %}">Sign up</a>
                    </div>

                    <div class="actual-form">
                        <div class="input-wrap">
                            <input
                                    autocomplete="off"
                                    class="input-field"
                                    minlength="4"
                                    {#                                   required#}
                                    type="text"
                                    id="username-input"
                                    name="email"
                            />
                            <label for="username-input">Username / Email</label>
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <div class="input-wrap">
                            <input
                                    autocomplete="off"
                                    class="input-field password"
                                    minlength="4"
                                    {#                                    required#}
                                    type="password"
                                    id="password-input"
                                    name="password"
                            >
                            <label for="password-input">Password</label>
                            <img class="show-hide-password close" src="{% static 'images/SVGs/close-eye.png' %}"
                                 alt="Eye Icon">
                            <img class="show-hide-password open" src="{% static 'images/SVGs/open-eye.png' %}"
                                 alt="Eye Icon">
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        {% if page == 'signin' and form.errors %}
                            <ul style="color: red;">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <input class="sign-btn" type="submit" value="Sign In"/>

                        <p class="text">
                            Forgotten your password or you log in datails?
                            <a href="#">Get help</a> signing in
                        </p>
                    </div>
                </form>
                <form method="POST" action="{% url 'signup' %}" autocomplete="off" class="sign-up-form"
                      id="sign-up-form">
                    <a href="{% url 'index' %}" style="text-decoration: none">
                        <div class="logo">
                            <img alt="Wellness Tracker" src="{% static '/images/logos/Wellness Logo.png' %}"/>
                            <h4>Wellness Tracker</h4>
                        </div>
                    </a>

                    <div class="heading">
                        <h2>Get Started</h2>
                        <h4>Already have an account?</h4>
                        <a class="toggle" href="{% url 'signin' %}">Sign in</a>
                    </div>


                    <div class="actual-form">
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="input-wrap">
                                <input
                                        autocomplete="off"
                                        minlength="4"
                                        id="{{ field.id_for_label }}"
                                        name="{{ field.name }}"
                                        {% if field.name == 'password1' or field.name == 'password2' %}
                                        class="input-field password"
                                        type="password"
                                        {% else %}
                                        class="input-field"
                                        type="{{ field.field.widget.input_type }}"
                                        {% endif %}

                                />
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% if field.name == 'password1' or field.name == 'password2' %}
                                    <img class="show-hide-password close" src="{% static 'images/SVGs/close-eye.png' %}"
                                         alt="Eye Icon">
                                    <img class="show-hide-password open" src="{% static 'images/SVGs/open-eye.png' %}"
                                         alt="Eye Icon">
                                {% endif %}
                            </div>
                        {% endfor %}

                        {% if page == 'signup' and form.errors %}
                            <ul style="color: red;">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}


                        <input class="sign-btn" type="submit" value="Sign Up"/>

                        <p class="text">
                            By signing up, I agree to the
                            <a href="#">Terms of Services</a> and
                            <a href="#">Privacy Policy</a>
                        </p>
                    </div>
                </form>
            </div>

            <div class="carousel">
                <div class="images-wrapper">
                    <img alt="" class="image img-1 show" src="{% static '/images/signup/image1.png' %}"/>
                    <img alt="" class="image img-2 show" src="{% static '/images/signup/image2.png' %}"/>
                    <img alt="" class="image img-3 show" src="{% static '/images/signup/image3.png' %}"/>
                </div>

                <div class="text-slider">
                    <div class="text-wrap">
                        <div class="text-group">
                            <h2>Track your fitness journey</h2>
                            <h2>Monitor your daily intake</h2>
                            <h2>Achieve your health goals</h2>
                        </div>
                    </div>

                    <div class="bullets">
                        <span class="active" data-value="1"></span>
                        <span data-value="2"></span>
                        <span data-value="3"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Javascript file -->

<script src="{% static 'scripts/signup.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        {% if page == 'signup' %}
            if (!document.querySelector('main').classList.contains('sign-up-mode')) {
                document.querySelector('main').classList.add('sign-up-mode');
            }
        {% endif %}
    });
</script>
</body>
</html>
